.Navbar{
  background-color: #;
  box-shadow: 10px 10px lightblue, -5px -5px orange;
}

.navbarNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #f386fc;
}

.navItem{
  float: left;
}

.navLink{
  font-weight: bold;
  font-style: normal;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLink:hover:not(.active) {
  background-color: #5D9DF7;
}

.active {
  background-color: #4d8df7;
}
